.navbar,a{
    background-color:rgb(235, 229, 222) ;
    color: black;
}
ul a{
    margin-left:10px; 
    margin-right:10px;
}
ul a:hover{
    color: rgb(221, 130, 19);
}
.middle{
    text-align: center;
    align-content: center;
}
h1{
    font-size: 60px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h6{
    text-decoration-line: underline;
}
div.course{
    border-bottom: 2px solid rgb(235, 229, 222);
    border-right: 2px solid rgb(235, 229, 222);
    width: 500px;
    margin: auto;
    padding: 10px;    
}

img{
    float: left;
    margin-right:10px; 
}
div.course:hover{
    border:2px solid rgb(224, 216, 206);box-shadow: 4px 4px rgb(224, 216, 206); 
}
